source ~/.vimrc

" configuration
set visualbell
set idearefactormode=keep
set ideajoin
set ideavimsupport=

" selection manipulation
map <C-c> <action>(CommentByLineComment)
map <A-o> <action>(EditorSelectWord)
map <A-i> <action>(EditorUnSelectWord)

" goto
map gd <action>(GotoDeclarationOnly)
map gD <action>(GotoImplementation)
map gy <action>(GotoTypeDeclaration)
map gr <action>(ShowUsages)
map gR <action>(GotoSuperMethod)

" space
map <leader>f <action>(GotoFile)
map <leader>b <action>(RecentLocations)
map <leader>r <action>(RenameElement)
map <leader>a <action>(ShowIntentionActions)
map <leader>/ <action>(FindInPath)
map <leader>? <action>(GotoAction)
map <leader>e <action>(SelectInProjectView)

" unimpaired
map ]d <action>(GotoNextError)
map [d <action>(GotoPreviousError)
map ]g <action>(VcsShowNextChangeMarker)
map [g <action>(VcsShowPrevChangeMarker)
map ]m <action>(MethodDown)
map [m <action>(MethodUp)
map ]M <action>(MethodDown)<action>(EditorLineEnd)<action>(EditorCodeBlockEnd)$
map [M <action>(MethodUp)<action>(EditorLineEnd)<action>(EditorCodeBlockEnd)$
map ]} <action>(EditorCodeBlockEnd)$
map [{ <action>(EditorCodeBlockStart)$

" insert
imap <C-x> <action>(CodeCompletion)

Plug 'tpope/vim-surround'

Plug 'tpope/vim-commentary'
